<a href="https://colab.research.google.com/github/dspooja/python-workshop/blob/master/Day_2_session_1_tuple_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Program to Create a List of Tuples with the First Element as the Number and Second Element as the Square of the Number

In [1]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:2
Enter the upper range:4
[(2, 4), (3, 9), (4, 16)]

#Write python program to have a list of words  to sort them from  shortest to longest using list of tuples

In [6]:
l = [(x,x**2) for x in range(int(input('Enter Number : ')))]
print(l)

Enter Number : 12
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121)]

#Write python program to get a list of tuples of Rollno,Name for 5 students through keyboard and sort them Rollno wise ascending order

In [10]:
l = (x for x in input('Enter Names : ').split()) # tuple
l = sorted(l,key = lambda x: len(x))
print(l)

Enter Names : a b c d 3 87 43
['a', 'b', 'c', 'd', '3', '87', '43']

#Write python program to get a list of tuples of Rollno,Name for 5 students through keyboard and sort them by Name wise ascending order and descending order

In [11]:
l = []

def inp():
  name = input('Name : ')
  rolno = input(' Rol No : ')
  return (name,rolno)  # returns tuples

n = int(input('Number of Students : '))
for x in range(n):
  l.append(inp())

print(f'Original : {l}')

l.sort(key = lambda x:x[1])
print(f'According to Rol No : Ascending :{l}')
print(f'According to Rol No : Descending :{l[::-1]}')

l.sort(key = lambda x:x[0])
print(f'According to Name : Ascending :{l}')
print(f'According to Name : Descending :{l[::-1]}')

Number of Students : 2
Name : aaa
 Rol No : 4al18cs062
Name : bbb
 Rol No : 4al18cs056
Original : [('aaa', '4al18cs062'), ('bbb', '4al18cs056')]
According to Rol No : Ascending :[('bbb', '4al18cs056'), ('aaa', '4al18cs062')]
According to Rol No : Descending :[('aaa', '4al18cs062'), ('bbb', '4al18cs056')]
According to Name : Ascending :[('aaa', '4al18cs062'), ('bbb', '4al18cs056')]
According to Name : Descending :[('bbb', '4al18cs056'), ('aaa', '4al18cs062')]