<a href="https://colab.research.google.com/github/dspooja/python-workshop/blob/master/day_3_session_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#find numbers between 100 and 400 (both included) which are divisable both by 5 or 7

In [1]:
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

#find prime numbers between 200 and 600

In [2]:
lower = int(input("Enter lower range: "))  
upper = int(input("Enter upper range: "))  
  
for num in range(lower,upper + 1):  
   if num > 1:  
       for i in range(2,num):  
           if (num % i) == 0:  
               break  
       else:  
           print(num)

Enter lower range: 23
Enter upper range: 45
23
29
31
37
41
43

#find All Numbers which are Odd and Palindromes Between a Range of Numbers without using Recursion

In [3]:
a=[]
l=int(input("Enter lower limit: "))
u=int(input("Enter upper limit: "))
a=[x for x in range(l,u+1) if x%2!=0 and str(x)==str(x)[::-1]]
print("The numbers are: ",a)

Enter lower limit: 2
Enter upper limit: 3
The numbers are:  [3]

#read a number n and print the series “5+10+…..+n= sum upto n ”

In [4]:
def sumOfDigitsFrom1ToN(n) : 
	result = 0
	for x in range(1, n+1) : 
		result = result + sumOfDigits(x) 
	return result 
def sumOfDigits(x) : 
	sum = 0
	while (x != 0) : 
		sum = sum + x % 10
		x = x // 10
	return sum 
n = 328
print("Sum of digits in numbers from 1 to", n, "is", sumOfDigitsFrom1ToN(n))

Sum of digits in numbers from 1 to 328 is 3241