<a href="https://colab.research.google.com/github/dspooja/python-workshop/blob/master/Day_3_session_2_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Print Multiplication Table of a number which got through keyboard

In [1]:
num = int(input("Enter the number: "))

print("Multiplication Table of", num)
for i in range(1, 11):
   print(num,"X",i,"=",num * i)

Enter the number: 12
Multiplication Table of 12
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

#find the Armstrong Numbers between 1 and 2000

In [2]:
lower = 1
upper = 2000
for num in range(lower, upper + 1):
   order = len(str(num))
   sum = 0
   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10
   if num == sum:
       print(num)

1
2
3
4
5
6
7
8
9
153
370
371
407
1634

#Sort and print them as rollno wise and name wise both ascending and descending as well as alphabetical and dealphabetical orders

In [3]:
l=[]
def inp():
  name = input('Name : ')
  rolno = input(' Rol No : ')
  return (name,rolno)  # returns tuples

n = int(input('Number of Students : '))
for x in range(n):
  l.append(inp())

print(f'Original : {l}')

l.sort(key = lambda x:x[1])
print(f'According to Rol No : Ascending :{l}')
print(f'According to Rol No : Descending :{l[::-1]}')

l.sort(key = lambda x:x[0])
print(f'According to Name : Ascending :{l}')
print(f'According to Name : Descending :{l[::-1]}')

Number of Students : 2
Name : aa
 Rol No : 43
Name : bb
 Rol No : 32
Original : [('aa', '43'), ('bb', '32')]
According to Rol No : Ascending :[('bb', '32'), ('aa', '43')]
According to Rol No : Descending :[('aa', '43'), ('bb', '32')]
According to Name : Ascending :[('aa', '43'), ('bb', '32')]
According to Name : Descending :[('bb', '32'), ('aa', '43')]

#Python Program to Detect if Two Strings are Anagrams

In [4]:
def check(s1, s2): 
	if(sorted(s1)== sorted(s2)): 
		print("The strings are anagrams.") 
	else: 
		print("The strings aren't anagrams.")		 
s1 ="listen"
s2 ="silent"
check(s1, s2)

The strings are anagrams.